.cs{
    background-color: #710584;
}

.cs img{
    background-color: #440052;
}

.unity{
    background-color: #1f1f1f;
}

.unity img{
    background-color: #505050;
}

.python{
    background-color: #eec636;
}

.python img{
    background-color: #d4b131;
}

.html{
    background-color: #ea4500;
}

.html img{
    background-color: #cd3d00;
}

.css{
    background-color: #056db1;
}

.css img{
    background-color: #055890;
}

.js{
    background-color: #f1d300;
}

.js img{
    background-color: #dbc202;
}

.cpp{
    background-color: #003b71;
}

.cpp img{
    background-color: #002446;
}

.mysql{
    background-color: #006a82;
}

.mysql img{
    background-color: #004e5f;
}

.gimp{
    background-color: #3e3e3e;
}

.gimp img{
    background-color: #2e2e2e;
}

.krita{
    background-color: #119cbb;
}

.krita img{
    background-color: #0e7c94;
}

.wpf{
    background-color: #3770be;
}

.wpf img{
    background-color: #bad6f3;
}

.angielski{
    background-color: #003260;
}

.angielski img{
    background-color: #002c55;
}

.niemiecki{
    background-color: #1b1b1b;
}

.niemiecki img{
    background-color: #151515;
}

.koreanski{
    background-color: #8f8f8f;
}

.koreanski img{
    background-color: #b8b8b8;
}

.blender{
    background-color: #f16d01;
}

.blender img{
    background-color: #ff9843;
}