@use '@angular/material' as mat;
@use 'sass:map';

$my-pinky: #fa93f3;
$my-base-config: (
  typography: roboto,
  density: 0,
);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-size: 25px 25px;

  &.light-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$magenta-palette,
          tertiary: mat.$violet-palette,
          theme-type: light,
        ),
        typography: map.get($my-base-config, typography),
        density: map.get($my-base-config, density),
      )
    );

    background-image: radial-gradient(#d1c4e9 1px, transparent 1px);
  }

  &.dark-theme {
    @include mat.theme(
      (
        color: (
          primary: mat.$magenta-palette,
          tertiary: mat.$violet-palette,
          theme-type: dark,
        ),
        typography: map.get($my-base-config, typography),
        density: map.get($my-base-config, density),
      )
    );

    background-image: radial-gradient(rgb(209 196 233 / 20%) 1px, transparent 1px);
  }

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

::selection {
  background-color: $my-pinky;
  color: #1f1f1f;
}
