@keyframes wiggle-border {
  0% {
    border-radius: 255px 15px 225px / 15px 225px 15px 255px;
  }

  33% {
    border-radius: 225px 25px 255px / 25px 255px 25px 225px;
  }

  66% {
    border-radius: 245px 20px 235px / 20px 235px 20px 245px;
  }

  100% {
    border-radius: 255px 15px 225px / 15px 225px 15px 255px;
  }
}

.indie-card {
  margin: 10px;
  border: 2px solid #673ab7;
  background: #fdfaff;
  transition: transform 0.3s ease;
  animation: wiggle-border 0.8s infinite hr-step;
  box-shadow: 6px 6px 0 rgb(103 58 183 / 20%);

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0 rgb(103 58 183 / 30%);
    cursor: pointer;
  }
}

$hr-step: steps(2, jump-none);
