app-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 2px solid var(--mat-sys-outline-variant);

  &.nav-hidden {
    transform: translateY(-100px);
  }
}

main {
  min-height: 100vh;
  padding-top: 80px;
}
