app-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &.nav-hidden {
    transform: translateY(-110%);
  }
}

main {
  min-height: 100vh;
  padding-top: 100px;

  @media (width <= 480px) {
    padding-top: 160px;
  }
}
