footer {
  background: #000;
  color: #fff;
  padding: 50px 20px;
  position: relative;
  text-align: center;
  clip-path: polygon(
    0 15%,
    5% 0,
    10% 10%,
    15% 0,
    20% 15%,
    25% 0,
    30% 10%,
    35% 0,
    40% 15%,
    45% 0,
    50% 10%,
    55% 0,
    60% 15%,
    65% 0,
    70% 10%,
    75% 0,
    80% 15%,
    85% 0,
    90% 10%,
    95% 0,
    100% 15%,
    100% 100%,
    0 100%
  );

  p {
    span {
      color: #ebb4e7;
      display: inline-block;
      transition: transform 0.2s ease;
      cursor: pointer;
    }
  }
}
